{% extends 'base.html' %}
{% include 'message.html' %}

{% block header %}

<link rel="stylesheet" href="{{url_for('static',filename="css/cart.css")}}">
<link rel="stylesheet" href="{{url_for('static',filename="css/main.css")}}">
{% endblock %}

{% block content %}
<div class="top">
    <a>&larr; back to Pharmacy</a>
    <h2>DoorMed</h2>
    <p></p>
</div>
<div class="whole">
    <div class="cart">
        <div class="order">
            <h3>Order from </h3>
            <h5>Apollo Pharmacy</h5>
            <p>Homes 121, Sector 121, Noida</p>
        </div>
        <table class="tab">
            <tr>
                <th>S No</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="cart-info">
                        <img src="static/images/image.jpg">
                        <p>Paracetamol</p>
                    </div>
                </td>
                <td>50</td>
                <td><input type="number" value="1"></td>
                <td>550.00</td>
                <td><a href="#">Remove</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="cart-info">
                        <img src="static/images/image.jpg">
                        <p>Paracetamol</p>
                    </div>
                </td>
                <td>50</td>
                <td><input type="number" value="1"></td>
                <td>550.00</td>
                <td><a href="#">Remove</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="cart-info">
                        <img src="static/images/image.jpg">
                        <p>Paracetamol</p>
                    </div>
                </td>
                <td>50</td>
                <td><input type="number" value="1"></td>
                <td>550.00</td>
                <td><a href="#">Remove</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="cart-info">
                        <img src="static/images/image.jpg">
                        <p>Paracetamol</p>
                    </div>
                </td>
                <td>50</td>
                <td><input type="number" value="1"></td>
                <td>550.00</td>
                <td><a href="#">Remove</a></td>
            </tr>
        </table>

        <div class="total">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>200.00</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>20.00</td>
                </tr>
                <tr id="tot">
                    <td>total</td>
                    <td>180.00</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="checkout">
        <h1>Secure Checkout</h1>
        <div class="box">
            <h4>Amit Kumar</h4>
            <p>You are logged in</p>
        </div>
        <div class="box">
            <h4>Delivery Address</h4>
            <p><b>Home</b> Flat-L004, Homes 121, Noida</p>
        </div>
        <div class="box box-2 ">
            <h3>Select Payment Method</h3>
            <p>Currently we are accepting only COD orders</p>
            <input type="checkbox" id="COD" name="COD" value="COD" />
            <label>Cash on Delivery</label><br><br>
            <input type="checkbox" disabled id="COD" name="COD" value="COD" />
            <label>Wallets or Upi</label><br><br>
            <input type="checkbox" disabled id="COD" name="COD" value="COD" />
            <label>Credit or Debit Card</label>
        </div>
        <button id="order">Place Order</button>

    </div>
</div>


{% endblock %}