{% extends 'base.html' %}
{% include 'message.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/main1.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div class="box" style="background: linear-gradient(to top, rgb(104, 222, 226), rgb(241, 195, 195)); height: 10vh;">
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </div>
  <br>
  <h2 style="color:blue; text-align: center;"> List of medicines available in {{shop.shop_name}} </h2>
  <br>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-borderless table-hover table-fixed">
        <thead class="table-info">
          <tr>
            <th>Category</th>
            <th> Medicine Name </th>
            <th> Description </th>
            <th> Image </th>
            <th> Price </th>
            <th> Add to Cart </th>
          </tr>
        </thead>
        <tbody>
          {% if products %}
          {% for product in products %}
          <tr>
            <td> {{product.catagory}} </td>
            <td> {{product.name}} </td>
            {% if product.description %}
            <td> {{product.description}} </td>
            {% else %}
            <td> Not available</td>
            {% endif %}
            <td> <img src="/static/img/amoxil.png" width="130px" height="100px"> </td>
            <td> {{product.price}} </td>
            <td> 
             <form action="" method="POST"> 
              <input type="hidden" name="pro_id" value="{{product.id}}">
            <input type="number" min="1" value="1" name="quantity" style="max-width: 60px;">
            <button type="submit" class="btn btn-primary"> Add + </button>
          </form>
        </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}