{% extends 'base.html' %}
{% include 'messages.html' %}

{% block header %}
<link href="{{ url_for('static', filename = 'css/ownShop.css')}}" rel="stylesheet" type="text/css" />
 {% endblock %}

    {% block content %}
    <div class="shop">
        <div class="shop-details">
            <div class="img-box">
                <p>{{seller.image}}</p>
<img src="{{seller.image}}" alt="no">
            </div>
            <div class="details">
                <h1>{{seller.shop_name}}</h1>
                <ul>
                    <li>Owner: <b>{{seller.name}}</b></li>
                <li>Address: <b>{{seller.address}}</b></li>
                <li>City: <b>{{seller.city}}</b></li>
                <li>State: <b>{{seller.state}}</b></li>
                <li> Email: <b>{{seller.email}}</b></li>
                <li>Phone No: <b>{{seller.number}}</b></li>
               
                </ul>
                <a class="btn btn-sm btn-success">Add product</a>
                <a class="btn btn-sm btn-success">Orders</a>
                

            </div>

        </div>
        <div class="list">
            <div class="conatiner mt-5 ml-6" style="margin-left: 6rem; margin-right: 4rem;">
          
                  <table class="table table-sm table-condensed table-striped table-hover " style="text-align: center";>
                      <thead>
                          <th>No</th>
                          <th>Product</th>
                          <th>Price(Rs)</th>
                        
                          <th>Stock</th>
                         
                          <th>Image</th>
                          <!-- <th>Edit</th> -->
                          <th>Delete</th>
                      </thead>
                      <tbody>
                        
                        
                        <tr>
                            <td>1</td>
                            <td><a href="#" style="text-decoration: none; color: black;">Famocid</a></td>
                            <td>200</td>
                         
              
              
              
                            <td>1000</td>
              
                         
                            <td><img src="" alt="no" width="40" height="30"></td>
                          
                            <td><a class="btn btn-sm btn-danger"> Delete
                            </a></td>
                        </tr>
              
                      
              
              
              
                
                        </tr>
                      
                      </tbody>
                  </table>
              </div>
        </div>
    </div>
{% endblock %}